<!-- Header -->
<header id="header">
    <h1><a routerLink="home">O.R.G.A.</a></h1>

    <nav class="links">
        <ul>
            <li *ngFor="let item of orgaMenu" [routerLink]="[item.ruta]" routerLinkActive="active">
                {{item.texto}}
        </ul>
    </nav>
    <nav class="main">
        <ul>
            
            <button class="main" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let item of orgaMenu" [routerLink]="[item.ruta]" routerLinkActive="active">
                    <mat-icon>label</mat-icon>
                    <span>{{item.texto}}</span>
                </button>
            </mat-menu>
        </ul>
    </nav>
</header>




<!-- Menu -->
<section id="menu">

    <!-- Search -->
    <section>
        <form class="search" method="get" action="#">
            <input type="text" name="query" placeholder="Search" />
        </form>
    </section>

    <!-- Links -->
    <section>
        <ul class="links">
            <li>
                <a href="#">
                    <h3>Lorem ipsum</h3>
                    <p>Feugiat tempus veroeros dolor</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Dolor sit amet</h3>
                    <p>Sed vitae justo condimentum</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Feugiat veroeros</h3>
                    <p>Phasellus sed ultricies mi congue</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Etiam sed consequat</h3>
                    <p>Porta lectus amet ultricies</p>
                </a>
            </li>
        </ul>
    </section>

    <!-- Actions -->
    <section>
        <ul class="actions stacked">
            <li><a href="#" class="button large fit">Log In</a></li>
        </ul>
    </section>

</section>